@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap');

html{
    font-size: 62.5%;
}

/* selector de etiqueta*/
h1,h2,h3{
    color: violet;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

h1{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
   }

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
    padding-left: 10px;
}
/* imagen del body */
body{
    background-image: url(../img/background/bubble.png);
    background-repeat: repeat;
    background-attachment: scroll;
    /* background: linear-gradient(45deg, #fbdbac, #ffd4e0); */
}

p{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
/* para darle forma a los <p> dentro de los articles */
div p{
    color:rgb(192, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(245, 242, 233);
}

section article p{
    color:rgb(192, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(245, 242, 233);
}

/* formato del primer parrafo abajo del header */
.primerParrafo{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* para alinear texto */
.textCenter{
    text-align: center;
    }
    .textLeft{
    text-align: left;
    }
    .textRight{
    text-align: right;
    }

/* OPCIONES DEL NAV */
/* para resaltar las opciones del nav */
.resaltador {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(216, 91, 179);
}

.noResaltado {
    color: coral;
}

.bg-Colornav {
    background-color:  rgb(249, 255, 210);
}

#miNav {
    opacity: 0.75;
    font-family: 'Roboto', sans-serif;
}

#fontSizeNav {
    font-size: 1.6rem;
}

/* hovers del nav*/
nav ul li a:hover{
    transform: scale(1.1);
    color: coral;
    border-radius: 20px;
    font-style: italic;
}

/* caracteristicas del logo */
.img-Logo{
    height: auto;
    width: 200px;
}

/* Iframe responsive */
/* .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* iframe */
iframe {
    width: 250px;
    height: 140px;
    border: red 5px solid;
}





/* OPCIONES DE LAS IMG */
/* para las imagenes iniciales de cada html */
.imgSize{
    width: 60vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.imgTop{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* para imagenes del index para que queden iguales y encuadradas*/

.itemIndex {
    margin: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Boxmodel del texto bajo imagenes del Index */
.parrafoIndex {
    margin: 10px;
    width: 250px;
    height: auto;
}

/* tamaño imagenes footer */
footer div a img {
    height: 50px;
    width: 50px;
}


/* redondeado de bordes de las imagenes y animacion*/
img{
    border-radius: 20px;
}

nav div a img:hover {
    transform: scale(1.05);
}

header img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px 2px gray;
}

body div div div img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px 2px gray
}

footer img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px 2px gray
}

#fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



/* CONFIGURACION DE FORMS */
/*selector id area de turnos contacto.html*/
#turnos {
    color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(255 242 233 / 75%);
}
/* selector id para index.html */
#turnos2 {
    color: black;
    width: 38%;
    margin: 30px;
    padding: 15px;
    border-radius: 20px;
    border: 1px black solid;
    background-color: rgb(255 242 233 / 75%);
}

 /* Tamaño y alineación uniforme */
label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }

button {
    background-color: rgb(249, 255, 210);
    border-radius: 20px;
    margin: 5px;
}

button:hover {
    background-color: coral;
}

/* fuentes de los formularios */
form{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

input[type="text"] {
    appearance: none;
  }

  input[type="mail"] {
    appearance: none;
  }

  form h4 {
    padding: 5px;
  }


/* FOOTER */
#miFooter {
    background-color: rgb(255 212 224);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer img {
    margin: 5px;
}

/* GRID DE INDEX */
#contenedor-Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco";
}  
.uno {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dos {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tres {
    grid-area: tres;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuatro {
    grid-area: cuatro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}

.cinco {
    grid-area: cinco;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* medias querys */
@media (min-width: 280px) and (max-width: 320px){
    .img-Logo {
        width: 100px;
    }
    footer div a img {
        height: 20px;
        width: 20px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4,h5,h6 {
        font-size: 1.4rem;
    }
    input[type="text"] {
        appearance: none;
        width: 130px;
      }
    
      input[type="mail"] {
        appearance: none;
        width: 130px;
      }
  
}

@media (min-width: 321px) and (max-width: 576px){
    .img-Logo {
        width: 150px;
    }
    footer div a img {
        height: 25px;
        width: 25px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4,h5,h6 {
        font-size: 1.4rem;
    }

    input[type="text"] {
        appearance: none;
        width: 140px;
    }
    
    input[type="mail"] {
        appearance: none;
        width: 140px;
    }

    iframe {
        width: 300px;
        height: 169px;
        border: green 3px solid;
    }
  
}

@media (min-width: 577px) and (max-width: 768px){
    .img-Logo {
        width: 180px;
    }
    footer div a img {
        height: 25px;
        width: 25px;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4,h5,h6 {
        font-size: 1.6rem;
    }
    iframe {
        width: 400px;
        height: 225px;
        border: deeppink 3px solid;
    }
    
}

@media (min-width: 768px) {
    #contenedor-Grid {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "uno dos"
        "tres tres"
        "cuatro cuatro"
        "cinco cinco";
    }
    iframe {
        width: 400px;
        height: 225px;
        border: deeppink 3px solid;
    }
    
}

@media (min-width: 1024px) {
    #contenedor-Grid {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "uno dos tres"
        "cuatro cuatro cuatro"
        "cinco cinco cinco";
    }
    iframe {
        width: 560px;
        height: 315px;
        border: violet 5px solid;
    }
}