
/* para botones */
.buttonRound{
    border-radius: 20px 100px;
    background-color: rgb(248, 212, 224);
    border: 2px;
    position: fixed;
    text-align: right;
}

/* para imagenes del index para que queden iguales y encuadradas*/
.imgIndex{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.itemIndex{
    margin: 10px;
    width: 250px;
    height: 250px;
}
/* Boxmodel del texto bajo imagenes del Index */
.parrafoIndex{
    margin: 10px;
    width: 250px;
    height: auto;
}


/* para ordenar en el espacio el contenido de los articulos con Flexbox */
.articleIndex{
    display: flex;
    justify-content: space-around;
    align-items:center;
}


/* modificadores del nav */
nav{
    margin: 20px auto;
    padding: 5px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color:black;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* nav ul{
    display: inline-block;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
} */


/* para alinear en el index */
.alinear{
    display:flex;
    justify-content: space-around;
    align-items: center;
}




